/* Style settings for featured_story.html page */
/* Style can be applied to any blog feature story */

/* Main blog content section */
.blog-content{
	margin: 0 10px;
}

.article-title {
	text-align: center;
}

.dateline {
	font-size: 0.9em;
}

/* Photo section settings */
.photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.article-photo {
	width:100%;
	height: auto;
}

.photo-caption {
	font-size: 0.8em;
	max-width: 100%;
}

/* Default/mobile/tablet settings hide sidebar */
/* Display author info, social buttons, and archive at bottom */
.sidebar {
	display: none;
}

/* Author information */
.author-info-bottom {
	font-size: 0.9em;
	margin: 0 5px;
}

.author-details {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-width: 250px;
}

.author-photo {
	width: 75px;
	height: auto;
	margin: 0 10px;
}

/* Social sharing buttons */
.share-buttons-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.social-button {
	width: 50px;
	height: auto;
	margin: 0 15px;
}

.icon-credits {
	font-size: 0.7em;
	text-align: center;
}

/* Archive */
.archive{
	text-align: center;
	font-size: 0.9em;
}

.archive-link {
	color: black;
}

/* Larger screens have sidebar to display */
/* archive links, author details and social buttons */
@media(min-width: 901px) {

	/* Content left-justified for larger screens */
	.blog-content {
		align-items: flex-start;
	}

	.article-title {
		text-align: left;
	}

	/* Container for photo and sidebar columns */
	.large-top-two-cols {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	.photo-container {
		width: 80%;
	}

	.article-photo {
		width: 100%;
		height: auto;
	}

	.photo-caption {
		max-width: 100%;
	}

	/* Sidebar visible */
	.sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px 5px 5px 15px;
	}

	/* Author information */
	.author-info-top {
		font-size: 0.8em;
		margin: 0 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 250px;
		background: #ebeced;
	}

	.author-details {
		margin: 5px;
	}

	.author-bio {
		margin: 5px 10px;
	}

	/* Social sharing buttons */
	.share-buttons-top {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 10px 10px;
	}

	.social-button {
		width: 50px;
		height: auto;
		margin: 0 15px;
	}


	/* Article left justified for larger screens */
	.main-text {
		margin-left: 10px;
	}

	/* Hide author, sharing and archive on bottom */
	/* since sidebar is used */
	.author-info-bottom,
	.share-buttons-bottom,
	.archive-bottom {
		display: none;
	}

}