/* Global settings for website template */
/* i.e. header, navigation, footer, main content */

/* Global container */
/*Ensure content is always centered on the page */
.global-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

/* Site-wide typography styling */
h1,
h2,
h3 {
    font-weight: normal;
    line-height: 1.1;
    text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	color: red;
}

blockquote {
	padding: 5px;
	background-color: lightgray;
	text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
	padding: 0;
}

p {
    line-height: 1.3;
    font-weight: normal;
}

/* Ensure consistent behavior for bold and italics */
/* across different browsers */
strong {
    font-weight: bold;
}

em {
	font-style: italic;
}

/* Grid that defines the template for the site */
/*i.e. header, footer, main content window*/
.page-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 200px 1ft;
	grid-template-areas:
	"hd"
	"main"
	"ft";
	background-color: #fffffc;
	font-family: Arial, sans-serif;
}

/* Border used only for debugging page layout issues */
/* Uncomment if need to use */
/* .box {
	border: 1px solid red;
} */

/* Header */
/* Default/mobile screens use vertical header */
header {
	grid-area: hd;
	display: grid;
	grid-template-areas:
	"logo"
	"nav";
}

.logo {
	grid-area: logo;
	font: 100%/0.8 'Lobster', Arial, cursive;
	color: firebrick;
	text-align: center;
	font-size: 1.3em;
}

nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	text-decoration: none;
	padding: 1em 2em;
	color: black;
}

.nav-item:hover {
	color: red;
}

/* Main content section of page */
.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-area: main;
}

/* Footer */
footer {
	margin: 10px 5px;
	grid-area: ft;
	font-size: 0.8em;
	text-align: center;
}


/* Larger tablet and PC layouts */
@media(min-width: 600px) {

	/* Horizontal header for larger screens */
	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.logo {
		text-align: left;
	}

	nav {
		width: 88%;
		grid-area: nav;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-item {
		padding: 1em 0 1em 2em;
	}

}
