.overall-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}


.page-container {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 200px 1ft;
	/*max-width: 1550px;*/
	grid-template-areas:
	"hd"
	"main"
	"ft";
	background-color: #fffffc;
	font-family: Arial, sans-serif;

}

.box {
	/* border for debugging */
	/*border: 1px solid red; */
}

header {
	grid-area: hd;
	display: grid;
	grid-template-areas:
	"logo"
	"nav";
}

footer {
	margin: 10px 5px;
	grid-area: ft;
	font-size: 0.8em;
	text-align: center;
}

.logo {
	grid-area: logo;
	font: 100%/0.8 'Lobster', arial, cursive;
	color: firebrick;
	text-align: center;
}

nav {
	grid-area: nav;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.nav-item {
	text-decoration: none;
	padding: 1em 2em;
	color: black;
}

.nav-item:hover {
	color: red;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	grid-area: main;
}

@media(min-width: 600px) {

	header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		grid-template-areas:
		"logo logo logo logo nav nav nav nav";
	}

	nav {
		width: 88%;
		grid-area: nav;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	.nav-item {
		padding: 1em 0 1em 2em;
	}

	.logo-container {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

}
